[submodule "pack/plugins/start/coc.nvim"]
	path = pack/plugins/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "pack/plugins/start/emmet-vim"]
	path = pack/plugins/start/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "pack/plugins/start/fzf"]
	path = pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "pack/plugins/start/goyo.vim"]
	path = pack/plugins/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "pack/plugins/start/vim-javascript"]
	path = pack/plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "pack/colors/start/gruvbox"]
	path = pack/colors/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "pack/colors/start/molokai"]
	path = pack/colors/start/molokai
	url = https://github.com/tomasr/molokai
[submodule "pack/colors/start/vim-theme-papaya"]
	path = pack/colors/start/vim-theme-papaya
	url = https://github.com/HenryNewcomer/vim-theme-papaya
[submodule "pack/plugins/start/ultisnips"]
	path = pack/plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "pack/plugins/start/vim-snippets"]
	path = pack/plugins/start/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "pack/syntax/start/vim-pandoc-syntax"]
	path = pack/syntax/start/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax
[submodule "pack/syntax/start/vim-css-color"]
	path = pack/syntax/start/vim-css-color
	url = https://github.com/ap/vim-css-color
[submodule "pack/plugins/start/vim-netrw-gitignore"]
	path = pack/plugins/start/vim-netrw-gitignore
	url = git@github.com:luisbaldissera/vim-netrw-gitignore.git
[submodule "pack/plugins/start/vim-arduino"]
	path = pack/plugins/start/vim-arduino
	url = https://github.com/stevearc/vim-arduino.git
[submodule "pack/plugins/opt/unicode.vim"]
	path = pack/plugins/opt/unicode.vim
	url = https://github.com/chrisbra/unicode.vim
[submodule "pack/plugins/start/vim-dirdiff"]
	path = pack/plugins/start/vim-dirdiff
	url = https://github.com/will133/vim-dirdiff
[submodule "pack/plugins/start/typescript-vim"]
	path = pack/plugins/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "pack/plugins/start/vim-jsx-pretty"]
	path = pack/plugins/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty
[submodule "pack/plugins/start/vim-jsx-typescript"]
	path = pack/plugins/start/vim-jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript
[submodule "pack/syntax/start/php.vim"]
	path = pack/syntax/start/php.vim
	url = https://github.com/StanAngeloff/php.vim
[submodule "pack/plugins/start/vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
